

.gestao-motoristas-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

h2 {
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.cadastrar-button {
    background-color: #e67e22;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.cadastrar-button:hover {
    background-color: #d35400;
}

.consulta-lista-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
.consulta-container{
    display: flex;
    margin-bottom: 2rem;
}

.search-button {
  padding: 9px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ddd;
  cursor: pointer;
  font-size: 1.2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #95a5a6;
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

.delete-button {
    background-color: #e74c3c;
}

.erro-message{
    color: red;
}